html, body {
    width: 100%;
    min-width: 100%;

    margin: 0;
    padding: 0;

    background: #333;
    color: #fff;
    font-family: sans-serif;

    scroll-behavior: smooth;
}

nav {
    position: fixed;
    top: 0px;
    width: 100%;

    padding: .5rem;
    background: #338;

    display: flex;
    align-items: center;
    flex-direction: row;
}

nav img {
    margin-right: 1rem;
}

nav h1 {
    font-size: large;
    margin: 0;
}

.float-right {
    float: right;
    margin-left: auto;
}

.link {
    color: inherit;
    text-decoration: none;
    margin-left: 1rem;
    transition-duration: 100ms;
}
.link:hover {
    color: #888;
    font-size: larger;
}

.link2 {
    color: #999;
    text-decoration: underline;
    text-decoration-style: dashed;
    transition-duration: 100ms;
}
.link2:hover {
    color: #666;
}

main {
    margin: 1rem;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card {
    width: 100%;
    min-height: 2rem;
    background: #444;
    margin: 1rem;

    border-radius: 1rem;
    box-shadow: #222 .25rem .25rem;

    transition-duration: 100ms;
}

.card:hover {
    border-radius: 1.5rem;
    box-shadow: #222 .5rem .5rem;
}

.card h3 {
    margin: 0;
    padding-top: .25rem;
    width: 100%;
    height: 2vw;
    border-radius: 1rem;
    text-align: center;
    background: #555;
    font-size: 1.5vw;
}

.card p {
    text-align: center;
    font-size: 1.5vw;
}

.cut-circle {
    border-radius: 100%;
}

.pill-red {
    font-size: initial;
    padding: .2rem;
    background: #811;
    border-radius: .25rem;
    font-size: 1.25vw;
}

.pill-yellow {
    font-size: initial;
    padding: .2rem;
    background: #b81;
    border-radius: .25rem;
    color: #222;
    font-size: 1.25vw;
}

.pill-green {
    font-size: initial;
    padding: .2rem;
    background: #181;
    border-radius: .25rem;
    font-size: 1.25vw;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #222;
}

::-webkit-scrollbar-thumb {
    background: #444;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

footer {
    margin: 0;
    display: flex;
    background: #222;
    padding: 2rem;
    font-size: large;
    align-items: center;
}

footer img {
    margin-right: .5rem;
}