html, body {
    width: 100%;
    min-width: 100%;

    margin: 0;
    padding: 0;
    margin-bottom: 15px;
}

main {
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
}

.text-nolink {
    text-decoration: none;
    text-anchor: middle;
}

.bg-darker {
    background: #191c1f;
}

.border-5 {
    border-radius: 5px;
}