.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

h2 {
    text-align: center;
}

.pill-red {
    font-size: initial;
    padding: .2rem;
    background: #811;
    border-radius: .25rem;
    font-size: 1.25vw;
    color: #fff;
}

.pill-yellow {
    font-size: initial;
    padding: .2rem;
    background: #b81;
    border-radius: .25rem;
    color: #222;
    font-size: 1.25vw;
}

.pill-green {
    font-size: initial;
    padding: .2rem;
    background: #181;
    border-radius: .25rem;
    font-size: 1.25vw;
    color: #fff;
}

.tbx-dark * .svg {
    filter: invert(1);
}